.order-success-page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 20px;
}

/* HEADER */

.success-header {
  text-align: center;
  margin-bottom: 40px;
}

.success-icon {
  width: 72px;
  height: 72px;
  margin: 0 auto 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: #f9dede;
  color: #b00020;
}

.success-header h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 600;
  color: #1f1720;
}

.success-header p {
  max-width: 620px;
  margin: 12px auto 0;

  color: #666;
  line-height: 1.6;
}

/* CARD */

.order-card {
  background: #fff;

  border: 1px solid #e8dede;
  border-radius: 14px;

  padding: 30px;

  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.order-info {
  flex: 1;
}

.label {
  display: block;
  font-size: 12px;
  color: #999;
  margin-bottom: 4px;
}

.info-group {
  margin-bottom: 22px;
}

.info-group h3 {
  margin: 0;
  color: #b00020;
  font-size: 24px;
  font-weight: 600;
}

.info-group p {
  margin: 0;
  font-size: 18px;
  color: #333;
}


/* ACTION */

.order-actions {
  width: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-group {
  display: flex;
  gap: 14px;
}

.btn-primary,
.btn-secondary {
  flex: 1;
  height: 48px;

  border-radius: 8px;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.2s;
}

.btn-primary {
  border: none;
  background: #b00020;
  color: white;
}

.btn-primary:hover {
  background: #95001b;
}

.btn-secondary {
  border: 1px solid #ddd;
  background: white;
}

.btn-secondary:hover {
  background: #f7f7f7;
}

.email-note {
  text-align: center;

  margin-top: 12px;

  color: #999;
  font-size: 13px;
}

/* MOBILE */

@media (max-width: 768px) {
  .success-header h1 {
    font-size: 28px;
  }

  .order-card {
    flex-direction: column;
  }

  .order-actions {
    width: 100%;
  }


}