.seller-order-filter {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}

.seller-order-tabs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.seller-order-tabs button {
  border: none;
  background: #f5f5f5;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.seller-order-tabs button:hover {
  background: #b00020;
  color: white;
}

.seller-order-tabs .active {
  background: #b00020;
  color: white;
}

.seller-order-search {
  width: 420px;
  border: 1px solid #ddd;
  border-radius: 12px;
  display: flex;
  align-items: center;

  overflow: hidden;
}

.seller-order-search svg {
  margin-left: 12px;
  color: #888;
}

.seller-order-search input {
  flex: 1;
  border: none;
  outline: none;
  padding: 12px;
}

/* Mobile */
@media (max-width: 576px) {
  .seller-order-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 24px;
  }
  .seller-order-search {
    width: 320px;
  }
  .seller-order-tabs button {
    padding: 6px 14px;
    font-size: 13px;
  }
}

/* Tablet */
@media (min-width: 577px) and (max-width: 768px) {
  .seller-order-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
}

/* Tablet lớn */
@media (min-width: 769px) and (max-width: 820px) {
  .seller-order-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 24px;
  }
}

/* Tablet pro */
@media (min-width: 821px) and (max-width: 1024px) {
}

/* Laptop */
@media (min-width: 1025px) and (max-width: 1440px) {
}
