.checkout-page {
  max-width: 1400px;
  margin: 0px auto;
  padding: 70px 16px;

  display: grid;
  grid-template-columns: 1fr 360px;
  gap: 15px;
}

.checkout-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkout-card,
.summary-card,
.security-box {
  background: #fff;
  border: 1px solid #eadede;
  border-radius: 14px;
  padding: 18px;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: 700;
  margin-bottom: 16px;

  color: #b00020;
}

.address-box {
  background: #fff5f5;
  padding: 14px;
  border-radius: 10px;
}

.address-header {
  display: flex;
  justify-content: space-between;
}

.address-header button {
  border: none;
  background: transparent;
  color: #b00020;
  cursor: pointer;
}

.verified-address {
  display: flex;
  align-items: center;
  gap: 6px;

  color: #1976d2;
  font-size: 13px;
}

.checkout-shop-header {
  display: flex;
  align-items: center;
  gap: 10px;

  padding-bottom: 14px;
  margin-bottom: 14px;

  border-bottom: 1px solid #eee;

  font-weight: 600;
  color: #333;
}

.checkout-shop-header svg {
  color: #ee4d2d;
}

.checkout-product {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px 0;
  border-bottom: 1px solid #f5f5f5;
}

.checkout-product:last-child {
  border-bottom: none;
}

.product-info {
  flex: 1;
  width: 0;
  min-width: 0;
}

.product-info h4 {
  margin: 0 0 6px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkout-product img {
  width: 72px;
  height: 72px;
  border-radius: 10px;
  object-fit: cover;
}

.product-info span {
  color: #666;
  font-size: 13px;
}

.product-price {
  color: #b00020;
  font-weight: 600;
}

.shipping-list {
  display: flex;
  gap: 12px;
}

.shipping-item {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 14px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
}

.shipping-item.active {
  border-color: #b00020;
}

.payment-item {
  border: 1px solid #ddd;
  border-radius: 10px;

  padding: 14px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;
}

.payment-item.active {
  border-color: #b00020;
}

.checkout-right {
  position: sticky;
  top: 90px;
  height: fit-content;
}

.voucher-box {
  display: flex;
  gap: 10px;
  margin: 16px 0;
}

.voucher-box input {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

.voucher-box button {
  border: none;
  background: #b00020;
  color: white;
  border-radius: 8px;
  padding: 0 16px;
}

.summary-row,
.summary-total {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.discount {
  color: #d32f2f;
}

.summary-total {
  border-top: 1px solid #eee;
  padding-top: 18px;
}

.summary-total strong {
  color: #b00020;
  font-size: 20px;
}

.checkout-btn {
  width: 100%;
  margin-top: 20px;

  border: none;
  border-radius: 12px;

  background: #b00020;
  color: white;

  padding: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  font-size: 16px;
  font-weight: 700;

  cursor: pointer;
}

.security-box {
  margin-top: 12px;

  display: flex;
  align-items: center;
  gap: 10px;

  color: #1976d2;
}

/* Mobile */
@media (max-width: 576px) {
  .checkout-page {
    grid-template-columns: 1fr;
    padding: 60px 10px;
  }

  .checkout-right {
    position: static;
  }

  .shipping-list {
    flex-direction: column;
  }
  .checkout-product {
    gap: 5px;
  }
  .product-info {
    padding: 5px;
  }
}

/* Tablet */
@media (min-width: 577px) and (max-width: 768px) {
  .checkout-page {
    grid-template-columns: 1fr;
    padding: 60px 20px;
  }

  .checkout-right {
    position: static;
  }

  .shipping-list {
    flex-direction: column;
  }
}

/* Tablet lớn */
@media (min-width: 769px) and (max-width: 820px) {
  .checkout-page {
    grid-template-columns: 1fr;
    padding: 60px 60px;
  }

  .checkout-right {
    position: static;
  }

  .shipping-list {
    flex-direction: column;
  }
}

/* Tablet pro */
@media (min-width: 821px) and (max-width: 1024px) {
}

/* Laptop */
@media (min-width: 1025px) and (max-width: 1440px) {
}
