.product-card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid #eee;
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 14px;
}

.product-image-wrapper {
  position: relative;
}

.product-image {
  width: 100%;
  height: 170px;
  object-fit: contain;
  border-radius: 12px;
  background: #f5f5f5;
}

.product-status {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #fff4e5;
  color: #ff8f00;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 11px;
  font-weight: 600;
}

.product-content {
  padding-top: 12px;
}

.product-category {
  display: inline-block;

  background: #f7f7f7;
  color: #ff544e;

  padding: 4px 8px;
  border-radius: 8px;
  font-size: 11px;
}

.product-title {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.4;
  min-height: calc(1.4em * 2);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.product-price {
  color: #e53935;
  font-size: 18px;
  font-weight: 600;
}

.product-meta {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 6px;
  font-size: 12px;
  color: #666;
}

.product-meta span {
  display: flex;
  align-items: center;
  gap: 6px;
}

.verified {
  color: #0d9488;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
}

/* Mobile */
@media (max-width: 576px) {
  .product-card {
    padding: 10px;
  }
  .product-title {
    font-size: 12px;
  }
  .product-price {
    font-size: 14px;
  }
  .product-category {
    padding: 3px 5px;
    font-size: 9px;
  }
  .product-meta {
    font-size: 8px;
  }
  .product-image {
    height: 110px;
  }
}

/* Tablet */
@media (min-width: 577px) and (max-width: 768px) {
  .product-title {
    font-size: 12px;
  }
  .product-price {
    font-size: 15px;
  }
  .product-category {
    padding: 3px 6px;
    font-size: 10px;
  }
  .product-meta {
    font-size: 9px;
  }
}

/* Tablet lớn */
@media (min-width: 769px) and (max-width: 820px) {
  .product-title {
    font-size: 13px;
  }
  .product-price {
    font-size: 16px;
  }
  .product-meta {
    font-size: 10px;
  }
}

/* Tablet pro */
@media (min-width: 821px) and (max-width: 1024px) {
  .product-title {
    font-size: 13px;
  }
  .product-price {
    font-size: 17px;
  }
  .product-meta {
    font-size: 10px;
  }
}

/* Laptop */
@media (min-width: 1025px) and (max-width: 1440px) {
}
