.app-container {
  flex: 1;
  margin: 10px 0px 10px 0px;
  padding-bottom: 80px;
}
/* Mobile */
@media (max-width: 576px) {
  .app-container {
    margin: 5px 0px 5px 0px;
  }
}

/* Tablet */
@media (max-width: 820px) {
  .app-container {
    margin: 10px 0px 10px 0px;
  }
}

/* iPad Pro */
@media (max-width: 1024px) {
}

/* Laptop */
@media (max-width: 1200px) {
}
